img { max-width: 100%; height: auto; }

#resourcesMap { width: 100%; }

.list-group-item-selectable { cursor: pointer; }
.list-group-item-selectable.active,
.list-group-item-selectable:focus {
  outline: none;
}

.table td, .table th { vertical-align: middle; }

.modal-dialog { margin-left: auto; margin-right: auto; }

.truncate-2 {
  display: -webkit-box; -webkit-box-orient: vertical;
  overflow: hidden;
}
